#map {
  bottom:0px;
  height: 100%;
  right: 0px;
  left: 400px;
  position: absolute;
}

#panel {
  height: 100%;
  position: relative;
  background: #000000;
}

#locations-list {
  background: #000000;
  height: 100%;
  float: left;
  width: 350px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

span {
  color: white;
}

ul {
  list-style-type: none;
}
